.cardcar {
    background-color: #6de2ff;
    width: 300px;
    margin: 20px auto
}

.cardcar-head {
    text-align: center;
    font-weight: bold;
}

.cardcar-body {
    text-align: center;
}

.member{
    color: #717171;
}