.cardcar {
    background-color: #6de2ff;
    width: 300px;
    height: 500px;
    margin: 20px auto;
    margin-top: 50px;
}

.cardcar-head {
    text-align: center;
    font-weight: bold;
}

.cardcar-body {
    text-align: center;
}

.member{
    color: #717171;
}

.pencet {
    background-color: yellow;
}